#!/bin/bash
#Global commands and environment variables when in olib or an olib-using project
#Use: sudo pip3 install autoenv
#And put "source `which activate.sh`" in .zshrc / .bashrc

# Function to find the correct path
find_target_path() {
    local dir=${PWD}

    # Check if .is_olib file exists in the current directory
    if [ -f "$dir/.is_olib" ]; then
        echo "$dir"
        return
    fi

    # Iteratively go up to parent directories
    while [ "$dir" != "/" ]; do
        if [ -d "$dir/.git" ] || [ -f "$dir/config.py" ]; then
            echo "$dir"
            return
        fi
        dir=$(dirname "$dir")
    done
}

# Set OLIB_PATH based on the found path or current directory
TARGET_PATH=$(find_target_path)

# Set OLIB_MODULE depending on whether .is_olib is found
if [ -f "${TARGET_PATH}/.is_olib" ]; then
	export OLIB_PATH="$TARGET_PATH"
    export OLIB_MODULE=py.cli.run.run
else
	export OLIB_PATH="$TARGET_PATH/olib"
    export OLIB_MODULE=olib.py.cli.run.run
fi

#Creating a function called run() does not work!
runx() {
    (cd "$TARGET_PATH" && python -m "$OLIB_MODULE" "$@")
}

VENV_PATH=$TARGET_PATH/.venv
if [ -d "$VENV_PATH" -a "$VENV_PATH" != "${OLIB_VENV:-}" ]; then
	#Activate venv
	echo "Activating venv"
   . $TARGET_PATH/.venv/bin/activate
   export OLIB_VENV="$VENV_PATH"
fi

#echo target=$TARGET_PATH

alias run=runx
