###############################################################################
# WARNING!
# This file should only be updated in olib. When running olib/scripts/init.sh
# this file is overwritten by the version in olib
###############################################################################

# Byte-compiled / optimized / DLL files
__pycache__/

# C extensions
*.so

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Jupyter Notebook
.ipynb_checkpoints

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# GIT
.git

# Emacs
*~

# Project outputs
.output/
.static/

# Vagrant data files
.vagrant

# Environment file (keys, etc)
.env.local
